body {
    background-color: #E8D4BE;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 45px;
}

.titulos-LOL {
    width: 484px;
    height: 218px;
    background-color: #E3C8AA;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px;
    gap: 35px;
}

.titulo-principal {
    font-family: 'montserrat', sans-serif;
    font-size: 200px;
    color: #333333;
    margin: 0px;
    line-height: 150px;
    font-weight: 900;
}

.titulo-menor {
    font-family: 'montserrat', sans-serif;
    font-size: 35px;
    color: #333333;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: 15px;
}

.area-login {
    width: 1000px;
    height: 420px;
    background-color: #E3C8AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 30px;
    border: 5px solid #333333;
    padding-top: 30px;
}

.campo-user {
    width: 800px;
    height: 70px;
    background-color: #f8ecdf;
    border-radius: 20px;
    border: 5px solid #333333;
    font-size: 40px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

.campo-senha {
    width: 800px;
    height: 70px;
    background-color: #f8ecdf;
    border-radius: 20px;
    border: 5px solid #333333;
    font-size: 40px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

.botão {
    width: 180px;
    height: 70px;
    background-color: #E3C8AA;
    color: #333333;
    box-shadow: 2px 4px 8px #333333;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #333333;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'montserrat', sans-serif;
    font-size: 35px;
    line-height: 1;
    padding: 0;
    transition: 0.7777s;
}

.botão:hover {
    transition: 0.7777s;
    background-color: #333333;
    color: #E3C8AA;
    box-shadow: 6px 9px 16px #333333;
}

.bloco-central {
    width: 1000px;
    height: 600px;
    background-color: #E3C8AA;
    border: #333333 solid 7px;
    border-radius: 20px;
    flex-direction: row;
}

.botao-criar {
    position: absolute;
    top: 190px;
    right: 30px;
    transition: 0.7777s;
    width: 70px;
    height: 70px;
    background-color: #E3C8AA;
    color: #333333;
    box-shadow: 2px 4px 8px #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 300px;
    border: 5px solid #333333;
    cursor: pointer;
}

.botao-criar:hover {
    transition: 0.7777s;
    background-color: #333333;
    color: #E3C8AA;
    box-shadow: 6px 9px 16px #333333;
}

.bi-plus-lg {
    transition: 0.7777s;
    font-size: 60px;
    color: #333333;
}

.bi-plus-lg:hover {
    transition: 0.7777s;
    color: #E3C8AA;
}