body {
    background-color: #E8D4BE !important;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 45px;
}

#titulos-LOL {
    width: 484px;
    height: 218px;
    background-color: #E3C8AA;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px;
    gap: 35px;
}

#titulo-principal {
    font-family: 'montserrat', sans-serif;
    font-size: 200px;
    color: #333333;
    margin: 0px;
    line-height: 150px;
    font-weight: 900;
}
    
#titulo-menor {
    font-family: 'montserrat', sans-serif;
    font-size: 35px;
    color: #333333;
    margin: 0px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: 15px;
}

#area-login {
    width: 1000px;
    height: 450px;
    background-color: #E3C8AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 30px;
    border: 5px solid #333333;
}

#campo-user {
    width: 800px;
    height: 70px;
    background-color: #f8ecdf;
    border-radius: 20px;
    border: 5px solid #333333;
    font-size: 40px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

#campo-senha {
    width: 800px;
    height: 70px;
    background-color: #f8ecdf;
    border-radius: 20px;
    border: 5px solid #333333;
    font-size: 40px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

#botão {
    width: 180px;
    height: 70px;
    background-color: #E3C8AA !important;
    color: #333333 !important;
    box-shadow: 2px 4px 8px #333333;
    border-radius: 30px;
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;
    border: 5px solid #333333;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'montserrat', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0;
}

#botão:hover {
    background-color: #333333;
    color:#E3C8AA;
    box-shadow: 6px 9px 16px #333333;
}
